/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
html { font-size:100%; } 
@media (min-width: 360px) { body {font-size:0.6rem;}  } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 


*{
    margin: 0px;
    padding: 2px;
    font-family: sans-serif;
}
.container{
    height: 762px;
    width: 100%;
    background-image: url(Media/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

img{
    width: 50%;
}
@media only screen and (max-width: 480px) {
    img {
      width: 40px;
      max-width: 50%;
    }
  }
  @media only screen and (max-width: 1080px) {
    img {
      width: 40px;
      max-width: 50%;
    }
  }

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50%;
    cursor: pointer;
    height: auto;

}
.navbar ul li a{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.content{
    width: 90%;
    position: absolute;
    top: 30%;
}

h1 {
    display: block;
   
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.left-col{
 margin-left: 6%;

}
.left-col{
    font-size: 40px;
    color: #fff;
    line-height: 110px;
    float: left;

}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;

}
.right-col p{
 font-size: 18px;
 color: #5f5f5f;
 font-weight: 400;
 margin-right: 15px;
}
.icon{
    
    width: 40px;
    height: auto;
    cursor: pointer;
}